.BadgesList ul > li {
  margin-bottom: 10px;
}

.BadgesListItem {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  display: flex;
  padding: 20px;
  align-items: left;
  align-content: left;
  flex-direction: row;
}

.BadgesListItem__avatar {
  border-radius: 50%;
  background: #a3a3a3;
  margin-right: 5rem;
  width: 80px;
  height: 80px;
}

.Badges_name {
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.Badge__infoComplete {
  align-content: left;
  padding-left: 20px;
}
